*{
    margin: 0px;
    padding: 0px;
    box-shadow: none;

}

body{
    background-color: rgb(59, 139, 245);
    font: normal 15pt arial;
}

header{
    color: white;
    background-color: rgb(59, 139, 245);
    text-align: center;
}

section{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    width: 500px;
    box-shadow: 1px 1px 3px black;
    margin: auto;
}

footer{
    color: white;
    background-color: rgb(59, 139, 245);
    text-align: center;
}